/* CSS-Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, services, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS-Reset end */

/*Font-face*/
@font-face {
  font-family: 'Loto';
  src: url('assets/Lato-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Loto';
  src: url('assets/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Loto';
  src: url('assets/Lato-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Loto';
  src: url('assets/Lato-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

/* Wrapper styles */
.wrapper {
  margin: 0 auto;
  width: 1020px;
}

/* Header styles*/
header {
  height: 90px;
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
}
.logo {
  height: 100%;
  width: 195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Loto';
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
}
.logo:hover .logo-star {
  cursor: pointer;
  animation: logo-jump;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
@keyframes logo-jump {
  from {
    margin-left: 0;
  }
  50% {
    margin-left: 40px;
    font-size: 50px;
    color: #dbdd78;
    transform: rotate(200deg);
  }
  to {
    margin-left: 0;
  }
}
.logo-text {
  color: #ffffff;
}
.logo-star {
  color: #f06c64;
}
.header-content {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.header-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-nav ul:last-child {
  margin-right: 27px;
}
.header-nav ul li {
  font-family: 'Loto';
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 13px;
  height: 40px;
}
.header-nav ul li:hover {
  cursor: pointer;
  color: #f06c64;
}
.nav-dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #494e62;
}

/* Main styles*/

.main {
  height: 595px;
  background-color: #f06c64;
  border-bottom: 5px solid #ea676b;
}
#left {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 190px;
  opacity: 40%;
  padding: 200px 43px 200px 43px;
}
#right {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 190px;
  opacity: 40%;
  padding: 200px 43px 200px 43px;
}
#left:hover, #right:hover {
  opacity: 80%;
}
.slider-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 600px;
}
#iphone1 {
  margin-left: 110px;
  margin-bottom: 15px;
}
#iphone2 {
  margin-left: 72px;
  margin-bottom: 15px;
}
#screen1 {
  height: 333px;
  width: 188px;
  background-image: url('assets/Layer 6.png');
  position: absolute;
  left: 126px;
  top: 117px;
  background-position: 100%, 50%;
}
#screen2 {
  width: 333px;
  height: 188px;
  position: absolute;
  background-image: url('assets/Layer 5.png');
  left: 485px;
  bottom: 225px;
  background-position: 100%, 50%;
}
#screen1:hover, #screen2:hover {
  animation: screen-move;
  animation-duration: 10s;
  animation-timing-function: linear;
}
#screen2:hover {
  animation: screen-move;
  animation-duration: 6s;
  animation-timing-function: linear;
}
@keyframes screen-move {
  from {
    background-position: 100%, 50%;
  }
  50% {
    background-position: 0%, 100%;
  }
  to {
    background-position: 100%, 50%;
  }
}
/* Services */
.services {
  background-color: #f2f2f2;
}
.services-content {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.title {
  font-family: 'Loto';
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  padding: 62px 40px 15px 40px;
  color: #666d89;
}
.article {
  font-family: 'Loto';
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 8px 40px 8px 40px;
  color: #767e9e;
}
.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 36px 20px 36px 40px;
}
.card {
  height: 108px;
  width: 300px;
  display: flex;
  flex-direction: row;
  margin: 0px 20px 15px 0px;
  align-items: flex-start;
  justify-content: space-between;
}
.aside-info {
  display: flex;
  flex-direction: column;
}
.aside-title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Loto';
  font-weight: 900;
  text-align: left;
  margin-bottom: 10px;
}
.aside-article {
  width: 219px;
  height: 70px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: 'Loto';
  font-weight: 400;
  text-align: left;
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
}